.infoBlock
    grid-area: info
    background-color: #EDEDF5
    color: #705697
    border-radius: 10px
    margin-right: 50px
    padding: 15px


    p
        text-indent: 5%
        font-size: 17px

.title
    font-size: 25px
    text-align: center
    font-family: MontserratBold
    margin-bottom: 10px