.infoBlock
    grid-area: info
    background-color: #EDEDF5
    color: #705697
    border-radius: 10px
    margin-right: 50px
    padding: 15px
    overflow: hidden
    overflow-y: scroll


    p
        text-indent: 5%
        font-size: 17px

.title
    font-size: 25px
    text-align: center
    font-family: MontserratBold
    margin-bottom: 10px

@media screen and (min-width:2200px) 
    .infoBlock
        
        p
            font-size: 20px

.infoBlock::-webkit-scrollbar 
  width: 5px

.infoBlock::-webkit-scrollbar-track 
  background: #5E2283   

.infoBlock::-webkit-scrollbar-thumb 
  background-color: blue
  border-radius: 50px
  border: 3px solid #EDEDF5



