.gitBlock
    grid-area: git
    background-color: #EDEDF5
    color: #705697
    border-radius: 10px
    margin-left: 40px
    padding: 10px


    &__text
        font-size: 20px
        display: block
        width: 40%
        position: relative
        left: 55%
        top: 20%

    &__image
        position: relative
        transition: 1s
        bottom: 10%

    &__image:hover
        transform: scale(1.1)
        
        
